@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo-sans-cyrl-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo-sans-cyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/museo-sans-cyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'MuseoSansCyrl', serif;
}
